.App {
    height: 100vh;
}

.App .container {
    height: 100%;
}

.row-4 {
    position: relative;
    min-height: 10%;
    padding-top: 25px;
}

.row-4 .text-muted {
    padding-top: 10px;
}

.github-star {
    width: 130px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 0px;
}

@media (max-width: 500px) {
    .github-star {
        display: none;
    }
}